



<extend name="Index/index" />

<block name="content">
    <div class="col-md-12 graphs">
        <div class="xs">
            <h3>修改化成产量月报表</h3>

            <div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
                <div class="panel-body no-padding">
                    <table class="table table-striped">
                        <thead>
                        <tr class="warning">
                            <td>年</td>
                            <td>月</td>
                            <td>fna</td>
                            <td>shp</td>
                        </tr>
                        </thead>
                        <tbody>
                        <in name="Think.session.uid" value="1,2">
                            <form action="__ACTION__/id/{$info.yp_id}" enctype="multipart/form-data" method="post">
                                <tr>
                                    <td>
                                        <select name="yp_year">
                                            <option value ="2018">2018</option>
                                            <option value ="2019">2019</option>
                                            <option value ="2020">2020</option>
                                            <option value ="2021">2021</option>
                                            <option value ="2022">2022</option>
                                            <option value ="2023">2023</option>
                                            <option value ="2024">2024</option>
                                            <option value ="2025">2025</option>
                                            <option value ="2026">2026</option>
                                            <option value ="2027">2028</option>
                                            <option value ="2029">2029</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="yp_month">
                                            <option value ="1">1</option>
                                            <option value ="2">2</option>
                                            <option value ="3">3</option>
                                            <option value ="4">4</option>
                                            <option value ="5">5</option>
                                            <option value ="6">6</option>
                                            <option value ="7">7</option>
                                            <option value ="8">8</option>
                                            <option value ="9">9</option>
                                            <option value ="10">10</option>
                                            <option value ="11">11</option>
                                            <option value ="12">12</option>
                                        </select>
                                    </td>
                                    <td><input type="text" name="fna" value="{$info.fna}"></td>
                                    <td><input type="text" name="shp" value="{$info.shp}"></td>
                                </tr>
                        </in>
                        </tbody>
                    </table>
                    <div style="padding-bottom: 20px;padding-left: 95%;">
                        <input type="submit" class="btn fb1" style="color:white;" name="提交">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
