<!doctype html>
<extend name="Index/index" />

<block name="content">
    <load href="__PUBLIC__/admin/jqueryTreescroll/css/tree.css" />
    <load href="__PUBLIC__/admin/jqueryTreescroll/js/treescroll.min.js" />
    <!-- <load href="__PUBLIC__/admin/login/js/jquery-1.8.2.min.js" /> -->
    <div class="col-md-12 graphs">
<table>
    <tr>
        <td>年</td>
        <td>月</td>
        <td>DUF</td>
    </tr>
    <form action="__ACTION__/id/{$info.dbo_id}" enctype="multipart/form-data" method="post">
            <tr>
                <td><input type="text" name="dbo_year" value="{$info.dbo_year}"></td>
                <td><input type="text" name="dbo_month" value="{$info.dbo_month}"></td>
                <td><input type="text" name="duf" value="{$info.duf}"></td>
            </tr>
        <input type="submit" name="提交">
    </form>
</table>

    </div>
</block>